<ul>
  <% @restaurants.each do |restaurant| %>
    <li><%= link_to restaurant.name, restaurant, class: "btn btn-primary"%></li>
  <% end %>
</ul>
<%= link_to 'Add new restaurant', new_restaurant_path , class: "btn btn-primary"%>
